.live-feed {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.live-feed h3 {
  font-size: 1.1rem;
  font-weight: 600;
  border-bottom: 1px solid var(--color-border);
  padding-bottom: 6px;
  margin-bottom: 12px;
}

.live-feed ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: auto;
  flex-grow: 1;
}

.live-feed li {
  margin-bottom: 10px;
  border-bottom: 1px dotted #333;
  padding-bottom: 5px;
}

.live-feed time {
  font-size: 0.8rem;
  color: var(--color-text-secondary);
  display: block;
}

.live-feed p {
  margin: 0;
  color: var(--color-text-primary);
}